.component__page {
  display: flex;
  width: 80%;
  margin: auto ;
  margin-top: 50px;
}

.component_info {
  display: flex;
  width: 70%;
  margin-top: 250px;
}

.component__photo {
  width: 50%;
}

.component__specs{
  margin-top: 100px;
  text-align: left;
}

.component_name{
  color: crimson;
  margin-bottom: 20px;
}

.component__purshase {
  width: 25%;
  height: 200px;
  margin-top: 350px;
  padding: 50px;
  background-color: whitesmoke;
  border: black solid 1px;
  border-radius: 7px;
}

.component__count {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.minus {
  width: 40px;
  height: 30px;
  margin: 0 10px;
}
.plus {
  width: 40px;
  height: 30px;
  margin: 0 10px;
}

.chart {
  height: 40px;
}

