body {
  margin: 0 auto;
  background: #fedc97;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 125px;
  background: rgba(224, 211, 211, 1);
  margin: 0 auto;
}


.on-scroll-down {
  background: rgba(224, 211, 211, 0.5);
  transition: background  2s;
}

.on-scroll-up {
  background: rgba(224, 211, 211, 1);
  transition: background  2s;
}

img {
  width: 100%;
}
h2 {
  font-size: 2rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: #aa3543;
  margin: 0.5em;
}

h3 {
  font-size: 1.25rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #03bd93;
  margin: 0.25em;
}

p {
  font-size: 0.75rem;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  max-width: 900px;
  margin: 0 auto;
  margin-top: 1.5em;
}

.title h1 {
  font-family: "Permanent Marker", cursive;
  font-size: 2.5rem;
  color: #2b766d;
  margin: 0;
}

.menu ul {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0;
}

.menu li {
  list-style: none;
  padding: 0 0.5em;
}

.menu a {
  text-decoration: none;
  font-family: "Ubuntu", sans-serif;
  font-size: 1rem;
  color: #548acc;
}

.main-container {
  display: flex;
  justify-content: flex-start;
  width: 70%;
  margin: 0 auto;
}

.anime-ranking {
  width: 65%;
  padding: 1em;
}

.table-ranking table {
  border: 1px solid silver;
  box-shadow: 4px 4px 4px silver;
  margin: 0;
}

.quote {
  background: #e9eff1;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 2px 4px 2px;
  padding: 0.5em;
  margin-top: 0.75em;
}

.anime-news {
  width: 25%;
  padding: 1em;
}

.link:hover{
  border-bottom: 2px solid #548acc;
}