<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>

    <link
      href="https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Ubuntu:ital,wght@1,700&display=swap"
      rel="stylesheet"
    />

    <title>Home Page</title>
  </head>
  <body>
    <header class="on-scroll-down on-scroll-up">
      <div class="container">
        <div class="title">
          <h1>Anime API Info</h1>
        </div>
        <nav>
          <div class="menu">
            <ul class="nav-links">
              <div>
                <li><a href="./index.html" class="link">Home</a></li>
              </div>
              <div>
                <li><a href="./anime_data.html" class="link">Anime Data</a></li>
              </div>
              
              <div>
                <li><a href="" class="link">Best Anime</a></li>
              </div>
            </ul>
          </div>
        </nav>
        <div class="burger">
          <div class="line1"></div>
          <div class="line2"></div>
          <div class="line3"></div>
        </div>
      </div>
    </header>

    <main>
      <img src="../static/images/Anime2.jpg" alt="Anime_Banner" />
      <div class="main-container">
        <div class="anime-ranking">
          <h2>Best anime of all time</h2>
          <div class="table-ranking">
            <table class="table table-striped table-light table-bordered">
              <tr class="table-info">
                <th>Rank</th>
                <th>Anime</th>
                <th>Rate</th>
                <th>Link</th>
              </tr>
              <tr>
                <td>1</td>
                <td>Gintama</td>
                <td>9</td>
                <td><a href="">Click here</a></td>
              </tr>
              <tr>
                <td>2</td>
                <td>Naruto</td>
                <td>8.75</td>
                <td><a href="">Click here</a></td>
              </tr>
              <tr>
                <td>3</td>
                <td>Re Zero</td>
                <td>8.75</td>
                <td><a href="">Click here</a></td>
              </tr>
              <tr>
                <td>4</td>
                <td>Tokyo Ghoul</td>
                <td>8</td>
                <td><a href="">Click here</a></td>
              </tr>
              <tr>
                <td>5</td>
                <td>Death Note</td>
                <td>9</td>
                <td><a href="">Click here</a></td>
              </tr>
              <tr>
                <td>6</td>
                <td>Attack On Titan</td>
                <td>9</td>
                <td><a href="">Click here</a></td>
              </tr>
              <tr>
                <td>7</td>
                <td>Parasyte</td>
                <td>8.75</td>
                <td><a href="">Click here</a></td>
              </tr>
              <tr>
                <td>8</td>
                <td>Hunter X Hunter</td>
                <td>8.75</td>
                <td><a href="">Click here</a></td>
              </tr>
              <tr>
                <td>9</td>
                <td>D Gray Man</td>
                <td>8</td>
                <td><a href="">Click here</a></td>
              </tr>
              <tr>
                <td>10</td>
                <td>Full Metal Alchemist Brotherhood</td>
                <td>9</td>
                <td><a href="">Click here</a></td>
              </tr>
            </table>
          </div>
          <div class="anime-quotes">
            <h2>Anime quotes</h2>
            <div class="quote">
              <h3>Anime name</h3>
              <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                Dolorem illum, culpa soluta fugit voluptate architecto error
                molestiae impedit qui quod.
              </p>
            </div>
            <div class="quote">
              <h3>Anime name</h3>
              <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                Dolorem illum, culpa soluta fugit voluptate architecto error
                molestiae impedit qui quod.
              </p>
            </div>
            <div class="quote">
              <h3>Anime name</h3>
              <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                Dolorem illum, culpa soluta fugit voluptate architecto error
                molestiae impedit qui quod.
              </p>
            </div>
          </div>
        </div>
        <div class="anime-news">
          <h2>Recent Anime News</h2>
          <div class="news">
            <h3>News1</h3>
            <img src="../static/images/TokyoGhoul.jpg" alt="" />
            <p>
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Incidunt
              eos iusto facere ad inventore ut velit ipsam voluptate pariatur.
              Officia.
            </p>
            <a href="">Continue reading</a>
          </div>
          <div class="news">
            <h3>News1</h3>
            <img src="../static/images/TokyoGhoul.jpg" alt="" />
            <p>
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Incidunt
              eos iusto facere ad inventore ut velit ipsam voluptate pariatur.
              Officia.
            </p>
            <a href="">Continue reading</a>
          </div>
          <div class="news">
            <h3>News1</h3>
            <img src="../static/images/TokyoGhoul.jpg" alt="" />
            <p>
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Incidunt
              eos iusto facere ad inventore ut velit ipsam voluptate pariatur.
              Officia.
            </p>
            <a href="">Continue reading</a>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
