.favorite__game {
  display: flex;
  width: 90%;
  height: 300px;
  border: 1px solid whitesmoke;
  border-radius: 3px;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 50px;
  background-color: crimson;
}

.favorite__cover {
  object-fit: contain;
  width: 160px;
  margin: 0 30px;
}

.favorite__info {
  color: #daa520 !important;
  height: 260px;
  margin-top: 50px;
}

.favorite__title {
  color: #daa520 !important;
  margin-bottom: 20px;
}

.favorite__button {
  cursor: pointer;
  color: #fff;
  outline: none;
  border: none;
  font-weight: 700;
  border-radius: 0.2vw;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-right: 1rem;
  margin-top: 20px;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: rgba(51, 51, 51, 0.5);
}

.favorite__button:hover {
  color: #000;
  background-color: #e6e6e6;
  transition: all 0.5s;
}

.favorite__info span {
  color: black;
}

@media (min-width: 360px) and (max-width: 800px) {
  body {
    overflow-x: hidden;
  }

  .favorite__page {
    width: 90% !important;
    margin: auto !important;
    margin-top: 100px !important;
  }
  .favorite__game {
    width: 100%;
  }
  .favorite__cover {
    width: 100px;
    margin: 0 20px;
  }

  .favorite__info {
    height: 200px;
  }

  .favorite__title {
    font-size: 1.25em;
    margin-bottom: 20px;
  }

  .favorite__button {
    font-weight: 400;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-right: 0.5rem;
    margin-top: 20px;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-size: 0.75em !important;
  }

  h6 {
    font-size: 0.5em !important;
  }

  .favorite__info span {
    font-size: 0.5em !important;
  }
}
