.register {
  margin-top: 150px;
  display: flex;
  flex-direction: column;
}

.register__form {
  margin: auto;
  width: 30%;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 5px;
  background-color: #111;
}

.register h1 {
  margin: auto;
  margin-bottom: 20px;
  color: crimson;
}

.register label {
  color: goldenrod;
  margin: 10px 0;
}

.register input {
  margin: 10px 0;
  border-radius: 5px;
  color: black;
}

.register p {
  margin: 10px 0;
}

.register button {
  width: 30%;
  height: 40px;
  margin: auto;
  margin-top: 25px;
  margin-bottom: 25px;
  background-color: crimson;
  color: black;
  border-radius: 5px;
  border: 2px solid darkred;
  transition: all 1s;
}

.register button:hover {
  background-color: goldenrod;
  border: 2px solid darkorange;
}

.register__button {
  width: 30%;
  height: 40px;
  margin: auto;
  margin-top: 25px;
  margin-bottom: 25px;
  text-align: center;
  padding-top: 5px;
  background-color: crimson;
  color: black;
  border-radius: 5px;
  border: 2px solid darkred;
  transition: all 1s;
}

.register__button:hover {
  text-decoration: none;
  color: black;
  background-color: goldenrod;
  border: 2px solid darkorange;
}

@media (min-width: 360px) and (max-width: 800px) {
  .register__form {
    width: 80%;
  }

  .register button {
    width: 40%;
    font-size: 0.75rem;
  }

  .register__button {
    width: 40%;
  }

}
