img {
  display: block !important;
  margin-left: auto !important;
  margin-right: auto !important;
  width: 50% !important;
  margin-top: 0 !important;
}

.App {
  background-color: lightgrey;
  color: white;
}

.main {
  text-align: center;
  display: flex;
  width: 95%;
}

.container {
  width: 70% !important;
}

.country-info {
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
  justify-items: center;
  width: 25%;
  /* background-color: crimson;  */
  border-radius: 6px;
  padding: 1em;
  margin-top: 2em;
}

@media (max-width: 1100px) {
  body {
    overflow-x: hidden;
  }

  .main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    margin: 0 auto;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    margin: 0 auto;
  }

  .country-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 70%;
    margin: 0 auto;
  }

  .row {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    margin: 0 auto;
  }

  .col-3 {
    width: 90%;
    max-width: 90% !important;
  }

  .confirmed-count span,
  .recovered-count span,
  .deaths-count span {
    font-size: 1rem;
  }
}

@media (min-width: 360px) and (max-width: 800px) {
  body {
    overflow-x: hidden;
  }

  .main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    margin: 0 auto;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100% !important;
    margin: 0 auto;
  }

  .country-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    margin: 0 auto;
  }

  .covid-worldwide {
    width: 100%;
    margin: 0 auto !important;
    padding: 1em;
  }
  .covid-data {
    width: 100%;
    margin: 0 auto !important;
  }

  .covid-vizualisation {
    width: 100%;
    margin: 0 auto !important;
  }

  #myChart {
    width: 100%;
  }

  .row {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    margin: 0 auto !important;
  }

  .col-3 {
    width: 90%;
    max-width: 90% !important;
  }

  .country-data{
     width: 90%;
    margin: 0 auto !important;
  }

  #table{
    font-size: 0.5em !important;
  }

.sub-card-confirmed p,
  .sub-card-recovered p,
  .sub-card-deaths p {
    font-size:0.8rem;
  }

  .confirmed-count span,
  .recovered-count span,
  .deaths-count span {
    font-size: 0.8rem;
  }
}
