#table {
  font-size: 0.85em;
  display: block !important;
  margin-top: 15em !important;
  table-layout: fixed !important;
  width: 100% !important;
}

td {
  color: white !important;
}

.clickable {
  cursor: pointer;
}
