* {
  color: white;
}
td a {
  color: white ;
}
td a:hover {
  color: crimson ;
  text-decoration: none;
  font-size: 1.25em;
}

.App {
  background-color: #111;
}
.search {
  margin: auto;
  width: 80%;
  margin-top: 70px;
}

.topGame {
  margin: auto;
  width: 80%;
  margin-top: 100px;
}

.table {
  text-align: center;
}
.table td {
  vertical-align: middle;
}

tr:hover {
  background-color: goldenrod !important;
}

/* pagintion layout */
.page-link{
  color: crimson;
  font-size: 1em !important;
  width: 40px;
  height: 30px;
}

.page-item.active .page-link {
    z-index: 3;
    color: #DAA520;
    background-color: crimson;
    border-color: crimson;
}

@media (min-width: 360px) and (max-width: 800px) {
  body {
    overflow-x: hidden;
  }

 h1{
    font-size: 1.5em ;
  }

  label{
    font-size: 0.75em;
    margin-left: 1em;
  }

  th {
    font-size: 0.33em;
    padding: 6px !important;
  }

  td {
    font-size: 0.33em;
    padding: 6px !important;
  }

  td img {
    width: 30px;
    margin: 0;
  }

  .search{
    width: 90%;
  }

  #search{
    margin: auto;
    width: 100%;
    transform: scale(0.75);
  }

  .btn
  {
    transform: scale(0.5);
    margin-left: 1em;
  }

  /* pagintion layout */
.page-link{
  font-size: 0.33em !important;
  width: 20px;
  height: 15px;
}
  
}
