.main {
  margin-top: 150px;
}

.main h2 {
 text-align: center ;
  font-size: 2rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: #aa3543;
  margin: 0.5em;
}

.data-visualization p {
  font-size: 1.25rem;
  text-align: start;
  font-weight: bold;
  color: #2b766d;
}

span {
  font-size: 1rem;
  font-weight: normal;
  color: black;
}

img {
  width: 100%;
}



.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  max-width: 900px;
  margin: 0 auto;
  margin-top: 1.5em;
}

.title h1 {
  font-family: "Permanent Marker", cursive;
  font-size: 2.5rem;
  color: #2b766d;
  margin: 0;
}

.menu ul {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0;
}

.menu li {
  list-style: none;
  padding: 0 0.5em;
}

.menu a {
  text-decoration: none;
  font-family: "Ubuntu", sans-serif;
  font-size: 1rem;
  color: #548acc;
}

.link:hover {
  border-bottom: 2px solid #548acc;
}

.data-input {
  margin: 0 auto;
  width: 80%;
}

.data-visualization {
  margin: 0 auto;
  width: 80%;
}
